{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div id="header">
        <div class="row align-items-start">
            <div class="col">
              User name
            </div>
            <div class="col">
              Level
            </div>
            <div class="col">
              Score
            </div>
            <div class="col">
              Time
            </div>
        </div>
    </div>
    <div id="sumT">
        <h5>Total max 5 scores</h5>
        {% for re in sumT %}
        <div class="row align-items-start">
            <div class="col">
              {{re['username']}}
            </div>
            <div class="col">
              -----------------
            </div>
            <div class="col">
              {{re['suT']}}
            </div>
            <div class="col">
              -----------------
            </div>        </div>
        {% endfor %}
    </div>
    <div id="level1">
        <h5>Level 1</h5>
        {% for re in res0 %}
        <div class="row align-items-start">
            <div class="col">
              {{re['username']}}
            </div>
            <div class="col">
              {{re['level']}}
            </div>
            <div class="col">
              {{re['score']}}
            </div>
            <div class="col">
              {{re['time']}}
            </div>        </div>
        {% endfor %}
    </div>
    <div id="level2">
        <h5>Level 2</h5>
        {% for re in res1 %}
        <div class="row align-items-start">
            <div class="col">
              {{re['username']}}
            </div>
            <div class="col">
              {{re['level']}}
            </div>
            <div class="col">
              {{re['score']}}
            </div>
            <div class="col">
              {{re['time']}}
            </div>        </div>
        {% endfor %}
    </div>
    <div id="level3">
        <h5>Level 3</h5>
        {% for re in res2 %}
        <div class="row align-items-start">
            <div class="col">
              {{re['username']}}
            </div>
            <div class="col">
              {{re['level']}}
            </div>
            <div class="col">
              {{re['score']}}
            </div>
            <div class="col">
              {{re['time']}}
            </div>        </div>
        {% endfor %}
    </div>
    <div id="level4">
        <h5>Level 4</h5>
        {% for re in res3 %}
        <div class="row align-items-start">
            <div class="col">
              {{re['username']}}
            </div>
            <div class="col">
              {{re['level']}}
            </div>
            <div class="col">
              {{re['score']}}
            </div>
            <div class="col">
              {{re['time']}}
            </div>        </div>
        {% endfor %}
    </div>
{% endblock %}