{% extends "layout.html" %}

{% block title %}
    Welcome to the Game
{% endblock %}

{% block main %}
    <H1>Welcome {{username}}</H1>
	<button>Hide Instructions</button>
	<button id="se">Instructions</button>
    </br>
	<div class="musicM">
	    <p>1. To start the Game press the Button with the Level name</p>
		<p>2. To Pause the Game Press Key "a"</p>
		<p>3. To Resume the Game press "a" + "Space" Or "the Level Button"</p>
		<p>4. To Increase the speed press "Space"</p>
		<p>4. To restore the speed press "a" + "a" + "Space"</p>
	</div>
    <input type="button" value="Play Music" onclick="play()">
	<input type="button" value="Mute Music" onclick="pauseM()">
	</br>	
    </br>
    <div id="cont" style="background: #FFFFFF;">
		<div id="start"></div>
		<input type="button" id="res" onclick="reset()" style="z-index:20; position:absolute; " value="Reset"/>
        <canvas id="myCanvas" style="z-index:1; border: 10px #dbbd69 solid; position: relative; left: 0px; top: 0px; opacity: 1;"  
		width="615" height="340" ></canvas>           
    </div>
        

    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">
		function play() {
			music.play();
		}
		function pauseM() {
			music.pause();
		}
        var canvasA = document.getElementById("myCanvas");
        const FullScreen = () => {
          if (document.fullscreenElement)
            document.exitFullscreen()
          else
            canvasA.requestFullscreen()
        }
        var but = document.getElementById("start");
        but.addEventListener('click', FullScreen)
        var onChange = () => {
          canvasA.getElementsByClassName = document.fullscreenElement ? 'Fullscreen' : ''
        }

        document.addEventListener('fullscreenchange', onChange)
		    
		$(document).ready(function(){
		  $("button").click(function(){
		    $("p").hide();
		  });
		});
		$(document).ready(function(){
		  $("#se").click(function(){
		  	$("p").show();
		  });
		});
		
    	/*https://mixkit.co/free-sound-effects/game/ - sounds*/
		var canvas = document.getElementById("myCanvas");
		var ctx = canvas.getContext("2d");
		var ballRadius = 8;
		var x = canvas.width-45;
		var y = canvas.height-45;
		var dx = 3;
		var dy = -3;
		var paddleHeight = 10;
		var paddleWidth = 45;
		var paddleX = (canvas.width-paddleWidth)/4;
		var rightPressed = false;
		var leftPressed = false;
		var brickRowCount0 = 6;
		var	brickColumnCount0 = 2;
		var	brickWidth0 = 67.5;
		var	brickHeight0 = 67.5;
		var brickRowCount = 10;
		var brickColumnCount = 3;
		var brickWidth = 45;
		var brickHeight = 45;
		var brickPadding = 10;
		var brickOffsetTop = 30;
		var brickOffsetLeft = 30;
		var brickRowCount2 = 16;
		var brickColumnCount2 = 6;
		var brickWidth2 = 22.5;
		var brickHeight2 = 22.5;
		var totalS = 0;
		var score = 0;
		var lives = 3;
		var level = 0;
		var audioC = new Audio('static/sound/colision.wav');
		var audioN = new Audio('static/sound/newlife.wav');
		var audioL = new Audio('static/sound/loading.wav');
		var audioW = new Audio('static/sound/win.wav');
		var audioF = new Audio('static/sound/final.wav');
		/*https://www.chosic.com/download-audio/25480/*/
		var music = new Audio('static/sound/Komiku_-_35_-_The_True_Last_Boss.mp3');
		var bricks0 = [];
		var bricks = [];
		var bricks2 = [];
		var lastA = {speed: 1, arr: []  , total: 30};
		var retrive = JSON.parse(localStorage.getItem('level'));
		var retriveS = JSON.parse(localStorage.getItem('score'));
		var el = document.getElementById("start");
		var btn = document.createElement("BUTTON");
		var suL = document.getElementById("lev");
		var paused = false;

		function fillRange() {
		let xPos = Math.random() * (x);
		let colorBack = '#' + Math.random().toString(16).substr(-6);
		let wid = Math.random() * 20 + 1;
		lastA.arr.push({
			x: xPos
			, y: Math.random() * -1000
			, width: wid * 2
			, height: wid * 2
			, size: wid
			, speed: Math.random() * 2 + 1
			, color: colorBack
			, toggle: true
			, growth: 0
		})
		}
		for(var c=0; c<brickColumnCount0; c++)
		{
			bricks0[c] = [];
			for(var r=0; r<brickRowCount0; r++) {
				bricks0[c][r] = { x: 0, y: 0, status: 1 };
			}
		}
		for(var c=0; c<brickColumnCount; c++)
		{
		  bricks[c] = [];
		  for(var r=0; r<brickRowCount; r++) {
			bricks[c][r] = { x: 0, y: 0, status: 1 };
		  }
		}
		for(var e=0; e<brickColumnCount2; e++)
		{
		  bricks2[e] = [];
		  for(var i=0; i<brickRowCount2; i++) {
			bricks2[e][i] = { x: 0, y: 0, status: 1 };
		  }
		}
        
		document.addEventListener("keydown", keyDownHandler, false);
		document.addEventListener("keydown", pause, false);
		document.addEventListener("keyup", keyUpHandler, false);
		document.addEventListener("mousemove", displayPosition, false);
		if(retrive == 3)
		{
			btn.innerHTML = '<input type="button" style="z-index:2; position:absolute; y:top;" id="sec" onclick="draw3()" value="Fourth level"/>';
			el.appendChild(btn);
			totalS = 0;
		}
		else if(retrive == 2)
		{
			btn.innerHTML = '<input type="button" style="z-index:2; position:absolute; y:top;" id="sec" onclick="draw2()" value="Third level"/>';
			el.appendChild(btn);
			totalS = 0;
		}
		else if(retrive == 1)
		{
			btn.innerHTML = '<input type="button" style="z-index:2; position:absolute; y:top;" id="sec" onclick="draw1()" value="Second level"/>';
			el.appendChild(btn);
			totalS = 0;
		}
		else
		{
			btn.innerHTML = '<input type="button" style="z-index:2; position:absolute; y:top;" id="sec" onclick="draw0()" value="First level"/>';
			el.appendChild(btn);
			totalS = 0;

		}

        
        $("#el").keyup(function(event) {
            if (event.keyCode === 13) {
                $("#myButton").click();
            }
        });

        $("#myButton").click(function() {
          alert("Button code executed.");
        });

		function reset()
		{
			level = 0;
			totalS = 0;
			localStorage.setItem('level', JSON.stringify(level));
			localStorage.setItem('score', JSON.stringify(totalS));
			document.location.reload();
		}
		function keyDownHandler(e)
		{
		  if(e.keyCode == 39) {
			rightPressed = true;
		  }
		  else if(e.keyCode == 37)
		  {
			leftPressed = true;
		  }
		}
		function keyUpHandler(e)
		{
		  if(e.keyCode == 39)
		  {
			rightPressed = false;
		  }
		  else if(e.keyCode == 37)
		  {
			leftPressed = false;
		  }
		}
        document.addEventListener('touchstart', handleTouchEvent, false);
        document.addEventListener('touchmove', handleTouchEvent, false);
        document.addEventListener('touchend', handleTouchEvent, false);
    
		document.body.addEventListener("touchstart", function (e) {
			if (e.target == canvas) {
				e.preventDefault();
			}
		}, false);
		document.body.addEventListener("touchend", function (e) {
			if (e.target == canvas) {
				e.preventDefault();
			}
		}, false);
		document.body.addEventListener("touchmove", function (e) {
			if(event.type === "touchend") {
					paddleX = e.changedTouches[0].pageX;
					e.preventDefault();
			}
			else{
				paddleX = e.touches[0].pageX     
        	}
		})
		
		function displayPosition(evt) {
			var z = canvas.getBoundingClientRect();			
			if(document.fullscreenElement){
				posF = evt.clientX/2 - z.left*2 - 31;
				if(posF > 0 && posF < canvas.width){
					paddleX = posF - 28;
				}
			}	
			else{
				pos = evt.clientX - z.left;
				if(pos > 0 && pos < canvas.width){
					paddleX = pos - 28;
				}	
			}
		}

		function collisionDetection0()
		{
		    for(var c=0; c<brickColumnCount0; c++)
		    {
				for(var r=0; r<brickRowCount0; r++)
				{
				  var b = bricks0[c][r];
				  if(b.status == 1)
				  {
					if(x > b.x && x < b.x+brickWidth0-1 && y > b.y && y < b.y+brickHeight0-1)
					{
					  dy = -dy;
					  b.status = 0;
					  score++;
					  totalS++;
					  audioC.play();
					  if(score == 9)
					  {
					  audioN.play();
						lives++;
						score = 0;
					  }
					  else if(totalS == 12)
					  {
                        paused =! paused;
                        ctx.clearRect(0, 0, canvas.width, canvas.height);			
						level=1;
                        totalS = 12 + (lives*3);
						audioW.play();				
						localStorage.setItem('level', JSON.stringify(level));
						localStorage.setItem('score', JSON.stringify(totalS));
						return win();  					                     
					  }

					}
				  }
				}
		    }
		    return totalS, level;
		}
		function collisionDetection1()
		{
			
		  for(var c=0; c<brickColumnCount; c++)
		  {
			for(var r=0; r<brickRowCount; r++)
			{
			  var b = bricks[c][r];
			  if(b.status == 1)
			  {
				if(x > b.x && x < b.x+brickWidth-1 && y > b.y && y < b.y+brickHeight-1)
				{
				  dy = -dy;
				  b.status = 0;
				  score++;
				  totalS++;
				  audioC.play();
				  if(score == 12)
				  {
				  audioN.play();
					lives++;
					score = 0;
				  }
				  else if(totalS == 30)
				  { 
                    paused =! paused;
                    ctx.clearRect(0, 0, canvas.width, canvas.height);                 
					level=2;
                    totalS = 30 + (lives*3);
					audioW.play();				
                    localStorage.setItem('level', JSON.stringify(level));
                    localStorage.setItem('score', JSON.stringify(totalS));
					return win(); 
				  }

				}
			  }
			}
		  }
		}
  	function collisionDetection2()
  	{

		  for(var c=0; c<brickColumnCount2; c++)
		  {
			for(var r=0; r<brickRowCount2; r++)
			{
			  var b = bricks2[c][r];
			  if(b.status == 1) {
				if(x > b.x && x < b.x+brickWidth2-1 && y > b.y && y < b.y+brickHeight2-1)
				{
				  dy = -dy;
				  b.status = 0;
				  score++;
				  totalS++;
				  audioC.play();
				  if(score == 15)
				  {
				  audioN.play();
					lives++;
					score = 0;
				  }
				  else if(totalS == 96)
				  {
                    paused =! paused;
                    ctx.clearRect(0, 0, canvas.width, canvas.height);
				  	totalS = 96 + (lives*3);					
					level=3;
                    audioW.play();
					localStorage.setItem('level', JSON.stringify(level));
                    localStorage.setItem('score', JSON.stringify(totalS));
					return win();
						  
				  }

				}
			  }
			}
		  }
		}
		function collisionDetection3()
  		{

		  for(var c=0; c<brickColumnCount2; c++)
		  {
			for(var r=0; r<brickRowCount2; r++)
			{
			  var b = bricks2[c][r];
			  if(b.status == 1) {
				if(x > b.x && x < b.x+brickWidth2-1 && y > b.y && y < b.y+brickHeight2-1)
				{
				  dy = -dy;
				  b.status = 0;
				  score++;
				  totalS++;
				  audioC.play();
				  if(score == 15)
				  {
				  audioN.play();
					lives++;
					score = 0;
				  }
				  else if(totalS == 96)
				  {	
					paused =! paused;
                    ctx.clearRect(0, 0, canvas.width, canvas.height);
				  	totalS = 96 + (lives*3);
					audioF.play();
					level = 4;
					localStorage.setItem('level', JSON.stringify(level));
					localStorage.setItem('score', JSON.stringify(totalS));
					return lastW();
				  }

				}
			  }
			}
		  }
		}
		function draw1Ball()
		{
			ctx.restore();
			ctx.beginPath();
			ctx.arc(x, y, ballRadius, 0, Math.PI*2);
		    ctx.fillStyle = "#b38f00";
			ctx.fill();
			ctx.closePath();
		}

		function spaceship()
		{
			ctx.restore();
			ctx.fillStyle = "#ffe6e6";
			ctx.beginPath();
			var x = 325;
			var y = 356;
			ctx.arc(x, y, 90, 0, Math.PI*2.5);
			x = 424;
			y = 332;
			ctx.fill();
			ctx.fillStyle = "#ccd9ff";
			ctx.beginPath();
			ctx.arc(x, y, 50, 0, Math.PI*2.5);
			ctx.fill();	 
			x = 94;
			y = 236;
			ctx.fillStyle = "#80aaff";
			ctx.beginPath();
			ctx.arc(x, y, 30, 0, Math.PI*2.5);
			ctx.arc(x-60, y+50, 30, 0, Math.PI*2.5);
			ctx.fill();	    	
			ctx.closePath();
			ctx.beginPath();
			ctx.arc(x, y, 30, 0, Math.PI*2.5);
			ctx.arc(x-60, y-150, 30, 0, Math.PI*2.5);
			ctx.fill();	    	
			ctx.closePath();
			ctx.beginPath();
			ctx.arc(x, y, 30, 0, Math.PI*2.5);
			ctx.arc(x+160, y-150, 20, 0, Math.PI*2.5);
			ctx.fill();	    	
			ctx.closePath();
			ctx.beginPath();
			ctx.arc(x, y, 30, 0, Math.PI*2.5);
			ctx.fill();	    	
			ctx.closePath();
			ctx.beginPath();
			ctx.rect(x+300, y, 30, 50);
			ctx.rect(x+370, y, 30, 50);
			ctx.arc(x+360, y+50, 30, 0, Math.PI*2.5);
			ctx.arc(x+400, y+50, 30, 0, Math.PI*2.5);	
			ctx.closePath();
			ctx.fill();	 
		}
		function trees()
		{
			var tree = {
				x: 234,
				x1: 241,
				x2: 227,
				x3: 224,
				x4: 244,
				y: 250,
				y1: 254,
				y2: 268,
				y3: 260,
				y4: 270,
				width: 15,
				height: 0,
				pI: Math.PI*2.5,
				baseX: 230,
				baseY: 280,
				baseWidth: 10,
				baseHeight: 24
			};

			ctx.restore();
			ctx.beginPath();
			ctx.fillStyle = "#e6f5ff";
			ctx.rect(0, 310, 615, 44);
			ctx.fill();
			ctx.closePath();
			ctx.beginPath();
			ctx.fillStyle = "#b3ff66";
			ctx.rect(0, 250, 615, 64);
			ctx.fill();
			ctx.closePath();
			ctx.fillStyle = "#cc6600";
			ctx.beginPath();
			ctx.rect(tree.baseX-50, tree.baseY-43, tree.baseWidth*0.6, tree.baseHeight*0.6);
			ctx.fill();
			ctx.closePath();
			ctx.beginPath();
			ctx.rect(tree.baseX+50, tree.baseY-20, tree.baseWidth-2, tree.baseHeight-2);
			ctx.fill();
			ctx.closePath();
			ctx.beginPath();			
			ctx.rect(tree.baseX, tree.baseY, tree.baseWidth, tree.baseHeight);
			ctx.fill();
			ctx.closePath();
			ctx.beginPath();
			ctx.rect(tree.baseX+100, tree.baseY, tree.baseWidth, tree.baseHeight);
			ctx.fill();
			ctx.closePath();
			ctx.beginPath();
			ctx.rect(tree.baseX-90, tree.baseY, tree.baseWidth, tree.baseHeight);
			ctx.fill();
			ctx.closePath();
			ctx.beginPath();
			ctx.rect(tree.baseX-190, tree.baseY-20, tree.baseWidth-2, tree.baseHeight-2);
			ctx.fill();
			ctx.closePath();
			ctx.fillStyle = "#99ff99";
			ctx.beginPath();
			ctx.arc(tree.x-50, tree.y-40, tree.width*0.6, tree.height, tree.pI);
			ctx.arc(tree.x1-50, tree.y1-40, tree.width*0.6, tree.height, tree.pI);
			ctx.arc(tree.x1-50, tree.y2-40, tree.width*0.6, tree.height, tree.pI);
			ctx.arc(tree.x2-50, tree.y1-40, tree.width*0.6, tree.height, tree.pI);
			ctx.arc(tree.x2-50, tree.y2-1-40, tree.width*0.6, tree.height, tree.pI);
			ctx.arc(tree.x3-50, tree.y3-40, tree.width*0.6, tree.height, tree.pI);
			ctx.arc(tree.x4-50, tree.y3-40, tree.width*0.6, tree.height, tree.pI);
			ctx.arc(tree.x-50, tree.y4-40, tree.width*0.6, tree.height, tree.pI);
			ctx.fill();
			ctx.closePath();
			ctx.beginPath();
			ctx.arc(tree.x+50, tree.y-20, tree.width -2, tree.height, tree.pI);
			ctx.arc(tree.x1+50, tree.y1-20, tree.width -2, tree.height, tree.pI);
			ctx.arc(tree.x1+50, tree.y2-20, tree.width -2, tree.height, tree.pI);
			ctx.arc(tree.x2+50, tree.y1-20, tree.width -2, tree.height, tree.pI);
			ctx.arc(tree.x2+50, tree.y2-1-20, tree.width -2, tree.height, tree.pI);
			ctx.arc(tree.x3+50, tree.y3-20, tree.width -2, tree.height, tree.pI);
			ctx.arc(tree.x4+50, tree.y3-20, tree.width -2, tree.height, tree.pI);
			ctx.arc(tree.x+50, tree.y4-20, tree.width -2, tree.height, tree.pI);
			ctx.fill();
			ctx.closePath();
			ctx.beginPath();
			ctx.arc(tree.x, tree.y, tree.width-2, tree.height, tree.pI);
			ctx.arc(tree.x1, tree.y1, tree.width-2, tree.height, tree.pI);
			ctx.arc(tree.x1, tree.y2, tree.width-2, tree.height, tree.pI);
			ctx.arc(tree.x2, tree.y1, tree.width-2, tree.height, tree.pI);
			ctx.arc(tree.x2, tree.y2-1, tree.width-2, tree.height, tree.pI);
			ctx.arc(tree.x3, tree.y3, tree.width-2, tree.height, tree.pI);
			ctx.arc(tree.x4, tree.y3, tree.width-2, tree.height, tree.pI);
			ctx.arc(tree.x, tree.y4, tree.width-2, tree.height, tree.pI);
			ctx.fill();
			ctx.closePath();
			//1º
			ctx.beginPath();
		    ctx.arc(tree.x+100, tree.y, tree.width, tree.height, tree.pI);
			ctx.arc(tree.x1+100, tree.y1, tree.width, tree.height, tree.pI);
			ctx.arc(tree.x1+100, tree.y2, tree.width, tree.height, tree.pI);
			ctx.arc(tree.x2+100, tree.y1, tree.width, tree.height, tree.pI);
			ctx.arc(tree.x2+100, tree.y2-1, tree.width, tree.height, tree.pI);
			ctx.arc(tree.x3+100, tree.y3, tree.width, tree.height, tree.pI);
			ctx.arc(tree.x4+100, tree.y3, tree.width, tree.height, tree.pI);
			ctx.arc(tree.x+100, tree.y4, tree.width, tree.height, tree.pI);
			//2º
			ctx.fill();
			ctx.closePath();
			ctx.beginPath();
			ctx.arc(tree.x-90, tree.y, tree.width, tree.height, tree.pI);
			ctx.arc(tree.x1-90, tree.y1, tree.width, tree.height, tree.pI);
			ctx.arc(tree.x1-90, tree.y2, tree.width, tree.height, tree.pI);
			ctx.arc(tree.x2-90, tree.y1, tree.width, tree.height, tree.pI);
			ctx.arc(tree.x2-90, tree.y2-1, tree.width, tree.height, tree.pI);
			ctx.arc(tree.x3-90, tree.y3, tree.width, tree.height, tree.pI);
			ctx.arc(tree.x4-90, tree.y3, tree.width, tree.height, tree.pI);
			ctx.arc(tree.x-90, tree.y4, tree.width, tree.height, tree.pI);
			ctx.fill();
			ctx.closePath();
			ctx.beginPath();
			ctx.arc(tree.x-190, tree.y-20, tree.width -2, tree.height, tree.pI);
			ctx.arc(tree.x1-190, tree.y1-20, tree.width -2, tree.height, tree.pI);
			ctx.arc(tree.x1-190, tree.y2-20, tree.width -2, tree.height, tree.pI);
			ctx.arc(tree.x2-190, tree.y1-20, tree.width -2, tree.height, tree.pI);
			ctx.arc(tree.x2-190, tree.y2-1-20, tree.width -2, tree.height, tree.pI);
			ctx.arc(tree.x3-190, tree.y3-20, tree.width -2, tree.height, tree.pI);
			ctx.arc(tree.x4-190, tree.y3-20, tree.width -2, tree.height, tree.pI);
			ctx.arc(tree.x-190, tree.y4-20, tree.width -2, tree.height, tree.pI);
			ctx.fill();
			ctx.closePath();		
		}
		function skyline()
		{
			ctx.restore();
			ctx.fillStyle = "#ede187";
			ctx.beginPath();
			ctx.arc(534, 100, 40, 0, Math.PI*2.5);
			ctx.fill();
			ctx.closePath();
			ctx.fillStyle = "#8a8a5c";
			ctx.beginPath();			
			ctx.rect(0, 190, 50, 200);
			ctx.rect(10, 316, 50, 74);
			ctx.rect(50, 301, 50, 89);
			ctx.rect(90, 290, 50, 110);
			ctx.rect(140, 320, 50, 23);
			ctx.rect(180, 280, 50, 67);
			ctx.rect(220, 320, 50, 23);
			ctx.rect(260, 280, 50, 84);
			ctx.rect(300, 340, 50, 45);
			ctx.rect(340, 280, 50, 100);
			ctx.rect(380, 280, 50, 87);
			ctx.rect(420, 30, 50, 35);
			ctx.rect(470, 270, 50, 87);
			ctx.rect(520, 280, 50, 90);
			ctx.rect(570, 280, 50, 200);  
			ctx.fill();
			ctx.closePath();
			ctx.fillStyle = "black";
			ctx.beginPath();			
			ctx.strokeRect(0, 190, 2, 200);
		
			ctx.strokeRect(50, 301, 2, 70);
			ctx.strokeRect(90, 290, 2, 90);
			ctx.strokeRect(140, 320, 2, 23);
			ctx.strokeRect(180, 280, 2, 67);		
			ctx.strokeRect(260, 280, 2, 84);	
			ctx.strokeRect(340, 280, 2, 100);
			ctx.strokeRect(380, 280, 2, 87);	
			ctx.strokeRect(470, 280, 2, 87);
			ctx.strokeRect(520, 280, 2, 90);
			ctx.strokeRect(570, 280, 2, 200);
			ctx.fill();
			ctx.closePath();
		}
		function stars()
		{
			ctx.clearRect(0, 0, canvas.width, canvas.height);
			ctx.beginPath();
			ctx.fillStyle = "#e6f5ff";
			ctx.rect(0, 310, 615, 44);
			ctx.fill();
			ctx.closePath();
			ctx.beginPath();
			ctx.fillStyle = "#b3ff66";
			ctx.rect(0, 250, 615, 64);
			ctx.fill();
			ctx.closePath();	
			if (lastA.arr.length < lastA.total ) {
				//console.log(enemies);
				fillRange();
			}
			lastA.arr.forEach((enemy, index) => {
				enemy.y += enemy.speed;
				enemy.x += Math.random() * 4 - Math.random() * 4;
				if (enemy.y > canvas.height -150 || enemy.x > canvas.width ) {
					lastA.arr.splice(index, 1);
				}
				
				ctx.fillStyle = enemy.color;
				if (enemy.growth > 10) {
					enemy.toggle = false;
					enemy.growth = 0;
				}
				ctx.beginPath();
				ctx.arc(enemy.x + (enemy.width / 2), enemy.y + (enemy.height / 2), enemy.size, 0, Math.PI * 2);
				ctx.arc(enemy.x + (enemy.width / 2)+10, enemy.y + (enemy.height / 2)+8, enemy.size, 0, Math.PI * 2);
				ctx.arc(enemy.x + (enemy.width / 2)-10, enemy.y + (enemy.height / 2)+8, enemy.size, 0, Math.PI * 2);
				ctx.arc(enemy.x + (enemy.width / 2), enemy.y + (enemy.height / 2)+16, enemy.size, 0, Math.PI * 2);
				ctx.fill();
				ctx.closePath();
				ctx.beginPath();
				ctx.strokeRect(enemy.x + (enemy.width / 2)+50, enemy.y + (enemy.height / 2),enemy.size, enemy.size);
				ctx.fill();
				ctx.closePath();
			})
		}
		function win()
		{
            ctx.fillStyle = "#ff3300";
			ctx.beginPath();
			ctx.arc(234, 236, 50, 0, Math.PI*2.5);
			ctx.arc(424, 236, 10, 0, Math.PI*2.5);
			ctx.fill();
			ctx.closePath();
			ctx.fillStyle = "#cc6600";
			ctx.beginPath();
			ctx.arc(94, 236, 30, 0, Math.PI*2.5);
			ctx.fill();
			ctx.closePath();
			ctx.beginPath();
			ctx.arc(194, 136, 20, 0, Math.PI*2.5);
			ctx.fill();
			ctx.closePath();
			ctx.beginPath();
			ctx.arc(294, 336, 25, 0, Math.PI*2.5);
			ctx.arc(394, 36, 40, 0, Math.PI*2.5);
			ctx.fill();
			ctx.closePath();
			ctx.fillStyle = "#4d0000";
			ctx.beginPath();
			ctx.rect(350, 310, 100, 35);
            ctx.font = "30px Arial";
			ctx.fillText("Congratulions you won the level:"+level, 50, 100);		    
			ctx.stroke();
			ctx.closePath();
            draw1totalS();							
            requestAnimationFrame(win);
			window.location.reload()
			if(retrive == 3)
			{
				btn.innerHTML = '<input type="button" id="sec" onclick="draw3()" value="Fourth level"/>';
				el.appendChild(btn);
				su.setAttribute('value', totalS);
				suL.setAttribute('value', retrive);
                requestAnimationFrame(draw3);
			}
			else if(retrive == 2)
			{
				btn.innerHTML = '<input type="button" id="sec" onclick="draw2()" value="Third level"/>';
				el.appendChild(btn);
				su.setAttribute('value', retriveS);
				suL.setAttribute('value', retrive);
                requestAnimationFrame(draw2);
			}
			else if(retrive == 1)
			{
				btn.innerHTML = '<input type="button" id="sec" onclick="draw1()" value="Second level"/>';
				el.appendChild(btn);
				su.setAttribute('value', retriveS);
				suL.setAttribute('value', retrive);
                requestAnimationFrame(draw1);
			}
			else
			{	
				
				btn.innerHTML = '<input type="button" id="sec" onclick="draw0()" value="First level"/>';
				el.appendChild(btn);
				su.setAttribute('value', retriveS);
				suL.setAttribute('value', retrive);
                requestAnimationFrame(draw1);

			}
		}
		function lastW()
		{
			if (lastA.arr.length < lastA.total +50 ) {
				//console.log(enemies);
				fillRange();
			}
			lastA.arr.forEach((enemy, index) => {
				enemy.y += enemy.speed;
				enemy.x += Math.random() * 4 - Math.random() * 4;
				if (enemy.y > canvas.height || enemy.x > canvas.width) {
					lastA.arr.splice(index, 1);
				}
				
				ctx.fillStyle = enemy.color;
				if (enemy.growth > 10) {
					enemy.toggle = false;
					enemy.growth = 0;
				}
				ctx.beginPath();
				ctx.arc(enemy.x + (enemy.width / 2), enemy.y + (enemy.height / 2), enemy.size, 0, Math.PI * 2);
				ctx.arc(enemy.x + (enemy.width / 2)+10, enemy.y + (enemy.height / 2)+8, enemy.size, 0, Math.PI * 2);
				ctx.arc(enemy.x + (enemy.width / 2)-10, enemy.y + (enemy.height / 2)+8, enemy.size, 0, Math.PI * 2);
				ctx.arc(enemy.x + (enemy.width / 2), enemy.y + (enemy.height / 2)+16, enemy.size, 0, Math.PI * 2);
				ctx.fill();
				ctx.closePath();
				ctx.beginPath();
				ctx.strokeRect(enemy.x + (enemy.width / 2)+50, enemy.y + (enemy.height / 2),enemy.size, enemy.size);
				ctx.fill();
				ctx.closePath();
			})	
			ctx.beginPath();
			ctx.rect(340, 310, 100, 35);
            ctx.font = "30px Arial";
			ctx.fillText("Congratulions you won the Game!!!", 50, 100);		    
			ctx.stroke();
			ctx.closePath();
            draw1totalS();							
            requestAnimationFrame(win);
			window.location.reload()
			if(retrive == 3)
			{
				btn.innerHTML = '<input type="button" id="sec" onclick="draw3()" value="Fourth level"/>';
				el.appendChild(btn);
				su.setAttribute('value', totalS);
				suL.setAttribute('value', retrive);
                requestAnimationFrame(draw3);
			}
			else if(retrive == 2)
			{
				btn.innerHTML = '<input type="button" id="sec" onclick="draw2()" value="Third level"/>';
				el.appendChild(btn);
				su.setAttribute('value', retriveS);
				suL.setAttribute('value', retrive);
                requestAnimationFrame(draw2);
			}
			else if(retrive == 1)
			{
				btn.innerHTML = '<input type="button" id="sec" onclick="draw1()" value="Second level"/>';
				el.appendChild(btn);
				su.setAttribute('value', retriveS);
				suL.setAttribute('value', retrive);
                requestAnimationFrame(draw1);
			}
			else
			{	
				
				btn.innerHTML = '<input type="button" id="sec" onclick="draw0()" value="First level"/>';
				el.appendChild(btn);
				su.setAttribute('value', retriveS);
				suL.setAttribute('value', retrive);
                requestAnimationFrame(draw1);

			}
		}
		
		function draw1Paddle()
		{

		    ctx.beginPath();
		    ctx.rect(paddleX, canvas.height-paddleHeight, paddleWidth, paddleHeight);
		    ctx.fillStyle = "black";
		    ctx.fill();
		    ctx.closePath();
		}
		function draw1Paddle3()
		{
			var paddleWidth = 35;
		    ctx.beginPath();
		    ctx.rect(paddleX, canvas.height-paddleHeight, paddleWidth, paddleHeight);
		    ctx.fillStyle = "red";
		    ctx.fill();
		    ctx.closePath();
		}
		function draw1Bricks0()
		{
		    for(var c=0; c<brickColumnCount0; c++)
		    {
				for(var r=0; r<brickRowCount0; r++)
				{
				    if(bricks0[c][r].status == 1)
				    {
						var brickX = (r*(brickWidth0+brickPadding))+brickOffsetLeft;
						var brickY = (c*(brickHeight0+brickPadding))+brickOffsetTop;
						bricks0[c][r].x = brickX;
						bricks0[c][r].y = brickY;
						ctx.beginPath();
						ctx.rect(brickX, brickY, brickWidth0, brickHeight0);
						var gradient = ctx.createLinearGradient(brickX, brickY, brickWidth0 + 1, brickHeight0 +1);
						gradient.addColorStop("0.0", "#B8860B");
						gradient.addColorStop("1.0", "#FFA500");
						ctx.strokeStyle = gradient;
						ctx.stroke();
						ctx.fillStyle = "#191970";
						ctx.fill();
						ctx.closePath();
			    	}
				}
		    }
		}
		function draw1Bricks()
		{
		    for(var c=0; c<brickColumnCount; c++)
		    {
				for(var r=0; r<brickRowCount; r++)
				{
				    if(bricks[c][r].status == 1)
				    {
						var brickX = (r*(brickWidth+brickPadding))+brickOffsetLeft;
						var brickY = (c*(brickHeight+brickPadding))+brickOffsetTop;
						bricks[c][r].x = brickX;
						bricks[c][r].y = brickY;
						ctx.beginPath();
						ctx.rect(brickX, brickY, brickWidth, brickHeight);
						ctx.fillStyle = "#2F4F4F";
						var gradient = ctx.createLinearGradient(brickX, brickY, brickWidth + 1, brickHeight + 1);
						gradient.addColorStop("0.0", "#B8860B");
						gradient.addColorStop("1.0", "#FFA500");
						ctx.strokeStyle = gradient;
						ctx.stroke();
						var check = ctx.fillStyle;
						ctx.fill();
						ctx.closePath();
					}
				}
		    }
		}
		function draw1Bricks2()
		{

		  for(var c=0; c<brickColumnCount2; c++)
		  {
  			for(var r=0; r<brickRowCount2; r++)
  			{
  			  if(bricks2[c][r].status == 1)
  			  {
    				var brickX2 = (r*(brickWidth2+brickPadding))+brickOffsetLeft;
    				var brickY2 = (c*(brickHeight2+brickPadding))+brickOffsetTop;
    				bricks2[c][r].x = brickX2;
    				bricks2[c][r].y = brickY2;
    				ctx.beginPath();
    				ctx.rect(brickX2, brickY2, brickWidth2, brickHeight2);
    				ctx.fillStyle = "#4B0082";
    				var gradient = ctx.createLinearGradient(brickX2, brickY2, brickWidth2 + 1, brickHeight2 + 1);
					gradient.addColorStop("1.0", "#B8860B");
					gradient.addColorStop("1.0", "#FFA500");
					ctx.strokeStyle = gradient;
					ctx.stroke();
    				ctx.fillStyle;
    				ctx.fill();
    				ctx.closePath();
  			  }
  			}
		  }
		}

		function draw1totalS()
		{
		  ctx.font = "16px Arial";
		  ctx.fillStyle = "#0095DD";
		  ctx.fillText("Total: "+totalS, 120, 20);
		}
		function draw1Lives()
		{
		  ctx.font = "16px Arial";
		  ctx.fillStyle = "E8AE0C";
		  ctx.fillText("Lives: "+lives, canvas.width-65, 20);
		}
		function draw0()
		{
			if(paused)
			{
				return;
			}
			ctx.clearRect(0, 0, canvas.width, canvas.height);
			spaceship();
			  draw1Bricks0();
			  draw1Ball();
			  draw1Paddle();
			  draw1totalS();
			  draw1Lives();
			  collisionDetection0();
			  
			  if(x + dx > canvas.width-ballRadius || x + dx < ballRadius)
			  {
				dx = -dx;
			  }
			  if(y + dy < ballRadius)
			  {
				dy = -dy;
			  }
			  else if(y + dy > canvas.height-ballRadius)
			  {
				if(x > paddleX && x < paddleX + paddleWidth)
				{
				  dy = -dy;
				}
				else
				{
				  lives--;
				  audioL.play();
				  alert("Not good");

				  if(!lives) {
				  audioL.play();
					alert("GAME OVER");

					document.location.reload();
				  }
				  else {

					x = canvas.width/2;
					y = canvas.height-30;
					dx = 3;
					dy = -3;
					paddleX = (canvas.width-paddleWidth)/2;

				  }
				  }
		    }

			  if(rightPressed && paddleX < canvas.width-paddleWidth)
			  {
				paddleX += 7;
			  }
			  else if(leftPressed && paddleX > 0)
			  {
				paddleX -= 7;
			  }

			  x += dx;
			  y += dy;
			  requestAnimationFrame(draw0);
		}

		function draw1()
		{
			if(paused)
			{
				return;
			}
		    ctx.clearRect(0, 0, canvas.width, canvas.height);
			trees();
		    draw1Bricks();
		    draw1Ball();
		    draw1Paddle();
		    draw1totalS();
		    draw1Lives();
		    collisionDetection1();		
		  if(x + dx > canvas.width-ballRadius || x + dx < ballRadius)
		  {
			dx = -dx;
		  }
		  if(y + dy < ballRadius)
		  {
			dy = -dy;
		  }
		  else if(y + dy > canvas.height-ballRadius)
		  {
			if(x > paddleX && x < paddleX + paddleWidth)
			{
			  dy = -dy;
			}
			else
			{
			  lives--;
			  audioL.play();
			  alert("Not good");

			  if(!lives) {
			  audioL.play();
				alert("GAME OVER");

				document.location.reload();
			  }
			  else {

				x = canvas.width/2;
				y = canvas.height-30;
				dx = 4;
				dy = -4;
				paddleX = (canvas.width-paddleWidth)/2;

			  }
			  }
	    }

		  if(rightPressed && paddleX < canvas.width-paddleWidth)
		  {
			paddleX += 7;
		  }
		  else if(leftPressed && paddleX > 0)
		  {
			paddleX -= 7;
		  }

		  x += dx+1;
		  y += dy+1;
		  requestAnimationFrame(draw1);
		}
		function draw2()
		{
			if(paused)
			{	
				return;
			}
		    ctx.clearRect(0, 0, canvas.width, canvas.height);
			skyline()
		    draw1Bricks2();
		    draw1Ball();
		    draw1Paddle();
		    draw1totalS();
            draw1Lives();
		    collisionDetection2();

		  if(x + dx > canvas.width-ballRadius || x + dx < ballRadius)
		  {
			  dx = -dx;
		  }
		  if(y + dy < ballRadius)
		  {
			  dy = -dy;
		  }
		  else if(y + dy > canvas.height-ballRadius)
		  {
			if(x > paddleX && x < paddleX + paddleWidth)
			{
			  dy = -dy;
			}
			else
			{
			  lives--;
			  audioL.play();
			  alert("Not good");

			  if(!lives) {
			  audioL.play();
				alert("GAME OVER");

				document.location.reload();
			  }
			  else
			  {
				x = canvas.width/2;
				y = canvas.height-30;
				dx = 4.5;
				dy = -4.5;
				paddleX = (canvas.width-paddleWidth)/2;

			  }
			  }
	    }

		  if(rightPressed && paddleX < canvas.width-paddleWidth)
		  {
			  paddleX += 7;
		  }
		  else if(leftPressed && paddleX > 0)
		  {
  			paddleX -= 7;
		  }

		  x += dx+1.5;
		  y += dy+1.5;
		  requestAnimationFrame(draw2);
		}
		function draw3()
		{
			if(paused)
			{
				return;				
			}
		    ctx.clearRect(0, 0, canvas.width, canvas.height);
			stars();
		    draw1Bricks2();
		    draw1Ball();
		    draw1Paddle3();
		    draw1totalS();
		    draw1Lives();
		    collisionDetection3();


		    if(x + dx > canvas.width-ballRadius || x + dx < ballRadius)
	  	    {
			    dx = -dx-0.000001;
		    }
		    if(y + dy < ballRadius)
		    {
			    dy = -dy-0.000001;
		    }
		    else if(y + dy > canvas.height-ballRadius)
		    {
		    	if(x > paddleX && x < paddleX + paddleWidth)
				{
					dy = -dy-0.000001;
				}
				else
				{
			    lives--;
			    audioL.play();
			    alert("Not good");

			    if(!lives) {
			    audioL.play();
				alert("GAME OVER");

				document.location.reload();
			    }
			  else
			  {
				x = canvas.width/2;
				y = canvas.height-30;
				dx = 4.5;
				dy = -4.5;
				paddleX = (canvas.width-paddleWidth)/2;

			  }
			  }
	    }

		  if(rightPressed && paddleX < canvas.width-paddleWidth)
		  {
			  paddleX += 7;
		  }
		  else if(leftPressed && paddleX > 0)
		  {
  			paddleX -= 7;
		  }

		  x += dx+1.5;
		  y += dy+1.5;
		  requestAnimationFrame(draw3);
		}
        
		function pause(e){
			if(e.keyCode == 65) {
				paused =! paused;
    			if (!paused) requestAnimationFrame(e);
			}
		}
		
		</script>

{% endblock %}